.container {
    padding-top: 48px;

    .title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin: 0;
    }

    .content {
        padding: 1rem 16px 1rem 20px;
        font-size: 13px;
        list-style-type: none;
        margin: 0;
        display: block;

        .item {
            padding-bottom: 12px;
        }

    }
}